/* Creates Navbar */
#navbar {
	display: flex;
    background-color: #000000;
	box-shadow: -1px 3px 13px -3px #696969;
    overflow: hidden;
	justify-content: center;
	margin-bottom: 1rem;
	padding: 0;
}

/* Navbar Link */
#navbar a {
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding: 20px 60px;
	text-decoration: none;
	font-family: "Noto Sans", "Roboto", sans-serif;
	font-size: 18px;
}

/* Hovering over Navbar items */
#navbar a:hover {
	background-color: #FFFFFF;
	color: #000000;
}

/* Header */
.header, .footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Noto Sans", "Roboto", sans-serif;
}

/* Profile Picture */
#profile{
	object-fit: cover;
	border-radius: 50%;
    border-color: #800080;
    border-width: 3px;
    border-style: solid;
	width: 150px;
	height: 150px;
	margin: 10px 0;
}

/* Top Icons */
.github,
#linkedin {
	color: #FFFFFF;
	font-size: 2em;
	text-decoration: none;
}

/* Hovering over LinkedIn item */
#linkedin:hover {
	color: var(--bs-link-hover-color);
}

/* Body */
body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	background-color: #222222;
	color: #FFFFFF;
}

html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

/* Project Padding */
.section2 {
	padding: 20px;
}

.scroll-button {
    width: fit-content;
	display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #800080;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px auto;
	border: solid white 1px
}

.scroll-button:hover {
    background-color: #FFFFFF;
	color: #000000;
}

/* Projects */
/* Title for Projects Section */
h1 {
	margin: 15px 0;
}

/* Project Box = flex item that wraps*/
.flex-wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 80px;
	row-gap: 40px;
}

/* Project Box */
.project-box {
	display: flex;
	flex-direction: column;
	align-items: center;

	border: solid;
	border-width: 2px;
	border-radius: 10%;
	border-color: #800080;

	padding: 20px 20px 0 20px;
	min-width: 250px;
	width: auto;
	min-height: 150px;
	height: auto;

	font-size: 30px;
    font-family: "Roboto", sans-serif;
}

/* Hovering over Project Box item */
.project-box:hover {
	background-color: #2b2b2b;
	cursor: pointer;
}

/* Keeps Icons in Box */
.project-box p {
	margin-bottom: 0;
}

/* Icons */
.icons {
    display: flex;
	justify-content: center;
	align-items: center;
    margin-top: auto;
	margin-bottom: 5px;
}

.icons i{
	font-size: 64px;
}

/* Image Size */
.icons img {
	display: flex;
	width: 50px;
    height: auto;
	padding: 2px;
}

/* Project Images & Italic Text */
.project-box img, .project-box i {
	width: 40px;
	height: 40px;
	font-size: 40px;
	margin: 0 2px 0 2px;
}

h1{
	text-align: center;
	font-family: "Noto Sans", "Roboto", sans-serif;
}

.school{
	padding-top: 30px;
}

/* Class Box */
.class-box {
	display: flex;
	flex-direction: column;
	align-items: center;

	border: solid;
	border-width: 2px;
	border-radius: 10%;
	border-color: #800080;

	padding: 20px 20px 0 20px;
	min-width: 250px;
	width: 300px;
	min-height: 180px;
	height: auto;

	font-size: 25px;
    font-family: "Roboto", sans-serif;
}

.math{
	border-color: #EE0000;
	padding-bottom: 20px;
}

.current{
	border-color: #FFA500;
	padding-bottom: 20px;
}

.class-box p {
	margin-bottom: 0;
	text-decoration: underline;
}

.class-box a{
	text-decoration: underline;
	color: #FFFFFF;
	text-align: center;
}

.class-box a:hover{
	background-color: #2b2b2b;
	color: #00eeee;
	cursor: pointer;
}

.class-box p.description{
	font-size: 15px;
	margin-bottom: 0;
	text-decoration: none;
}

.class-box a.small {
	font-size: 22px;
}

/* About Me Page */  
#Table{
	margin-left: 10px;
}

.indent {
	margin-left: 8px;
}